<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd>$<%= @product.price %></dd>
        </dl>
        <hr>
        <br>
      </div>

      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <% if current_user %>
            <%= form_for([@product, @review]) do |f| %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <p><strong>Rate this product:</strong></p>
              <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]), class: 'form-control'%>
              <p><strong>Comment on this product:</strong></p>
              <%= f.text_area :description, class: 'form-control'%>
              <br>
              <%= f.submit "Review", class: 'btn btn-primary' %>
            <% end %>
          <% end%>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-6">
        <dl class="dl-horizontal">
          <div class="review">
            <% if @product.reviews %>
              <h4>Product Reviews</h4>
            <% end %>
            <% @product.reviews.reverse.each do |review| %>
              <hr>
              <dt>Rating</dt>
              <dd><%= review.rating.to_i.times do |star| %>
                ⭐
                <% end %>
                </dd>
                <dt>Review</dt>
                <dd>
                <%= review.description %>
                </dd>
                  <% if current_user && current_user.id == review.user_id %>
                    <p class="delete-button"><%= link_to fa_icon("trash"), 
                          [@product, review], 
                          class: "btn btn-sm btn-danger", 
                          method: :delete, data: { confirm: "Are you sure?" } %></p>
                  <% end %>
              <hr>
            <% end %>
          </end>
        </dl>
      </div>
    </div>

  </article>

</section>
